.external-container {
    width: 550px;
    height: 1000px;
    background-color: white
  }
  
  .calculator-content {
    padding: 0 20px;
    width: 100%;
    font-family: 'PT Sans',sans-serif;
    font-size: 15px;    
    color: #222222;
  }
  
  .result-content{
    padding: 0 20px;
    width: 100%;
    font-family: 'PT Sans',sans-serif;
    font-size: 15px;
    line-height: 1.375em;
    color: #222222;
    margin-top: 40px;
  }

  .row {
    display: block;
    margin-bottom: 20px;
    clear: both;
  }
  
  .label-header {
    font-weight: bold;
  }
  
  .row-label{
    display: inline-block;
    width: 150px;
    
  }
  
  .width-250 {
      width: 250px;
  }

  .control-offset {
    margin-left: 154px;
  }
  
  .row-control {
    display: inline-block;
    margin-right: 10px; 
  }
  


  .input-control {
    background-color: #fff;
      color: #222;
      font-family: 'PT Sans',sans-serif;
      font-size: 16px;
      border: solid 1px #bdc3c7;
      display: inline-block;
      padding: 0 10px;
      box-sizing: border-box;
      height: 30px;
      -webkit-transition: color .3s ease,border .3s ease;
      transition: color .3s ease,border .3s ease;
      box-shadow: none;
      border-radius: 0;
      width: 145px;
  }
  
  .input-control::-webkit-input-placeholder {color:#cccccc;}
  .input-control::-moz-placeholder          {color:#cccccc;}/* Firefox 19+ */
  .input-control:-moz-placeholder           {color:#cccccc;}/* Firefox 18- */
  .input-control:-ms-input-placeholder      {color:#cccccc;}
  
  input[type="text"]:focus, 
  input[type="text"]:hover {
    border-color: #34495e;
    outline:none;
  }
  
  input[type="radio"].radio-button {
      display: none;
  }
  
  input[type="radio"].radio-button:checked + .radio-button-label::before {
    background-color: #34495e;
}
input[type="radio"].radio-button + .radio-button-label:hover::before {
    background-color: transparent;
    border-color: #1abc9c;
}
  
  input[type="radio"].radio-button + .radio-button-label::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      border: 2px solid #34495e;
      border-radius: 50%;
  }
  
  input[type="radio"].radio-button:checked + .radio-button-label::after {
      background-color: #1abc9c;
  }
  
  input[type="radio"].radio-button + .radio-button-label::after {
      content: '';
      position: absolute;
      top: 6px;
      left: 6px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      -webkit-transition: background-color .1s ease;
      transition: background-color .1s ease;
  }
  
  input[type="radio"].radio-button + .radio-button-label {
      display: inline-block;
      position: relative;
      padding-left: 30px;
      line-height: 20px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  
  .input-control_error {
    border-color: #e74c3c;    
}

  .calc-button {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 15px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 2.5;
    text-align: center;
    text-decoration: none !important;    
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    width: 235px;
    background-color: #3D8996;
    color: white;
  }

  .icon-info{
    background: url('icon-info.png');
    cursor: pointer;
    padding-left: 18px;
}
