.ui-select {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    width:145px;
    margin-top: -3px
}

.ui-select:first-of-type {
    margin-left: 0 !important;
}

.ui-select__toggler {
    font-family: 'PT Sans',sans-serif;
    border: solid 1px;
    padding: 0 0 0 10px;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: color .2s,border .2s,background .2s;
    transition: color .2s,border .2s,background .2s;
    background-color: #fff;
    border-color: #bdc3c7;
    color: #222;
}

.ui-select__toggler__trigger {
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-left: 1px solid;
    float: right;
    cursor: pointer;
    border-color: #bdc3c7;
    -webkit-transition: border .2s;
    transition: border .2s;
    text-align: center;
    padding-left: 5%;
}

.ui-select__toggler__text {
    min-height: 28px;
    line-height: 28px;
    text-align: left;
    margin-right: 50px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ui-select__dropdown {
    position: absolute;
    display: none;
    background: #fff;
    border-style: solid;
    border-color: transparent #bdc3c7 #bdc3c7;
    border-width: 0 1px 1px 1px;
    color: #222;
    width: 100%;
    top: 100%;
    left: 0;
    right: auto;
    box-sizing: border-box;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
    outline: none;
    z-index: 100;
    font-size: 16px;
}

.ui-select__scrollable-container {
    overflow: hidden;
    position: relative;      
}

.has-scrollbar{
  overflow-x: hidden;
  overflow-y: scroll;
}

.ui-select__scrollable {
    max-height: 245px;
    width: -webkit-calc(100% + 16px);
    width: calc(100% + 16px);
    outline: none;
    -webkit-overflow-scrolling: touch;
}

.ui-select__scroll-pane {
    position: absolute;
    width: 9px;
    right: 15px;
    top: 2px;
    bottom: 0;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 5px;
}

.ui-select__item {
    display: block;
    cursor: pointer;
    -webkit-transition: background .2s;
    transition: background .2s;
    text-align: left;
    color: #222;
}

.ui-select__item--selected {    
    background: #f4f4f4;    
}

.ui-select__item, .ui-select__filter-messages, .ui-select__footer {
    padding: 6px 15px 6px 10px;
    line-height: 18px;
}

.ui-select__item--focused {
    background: #ecf0f1;
}

.ui-select__scroll-slider {
  background: #566473;
  position: relative;
  border-radius: 5px;
  -webkit-transition: .2s;
  transition: .2s;
  opacity: .3;
}